# Build
compile_commands.json
out/
bazel-*
.presubmit/
.bootstrap/

# Editors
.idea/
.project
.cproject
.vscode
.clangd/
*.swp
*.swo

# Python
python*-env/
.python*-env/
venv/
*.pyc
*.egg/
*.eggs/
*.egg-info/
.cache/
.mypy_cache/
__pycache__/

# PyOxidizer
pw_env_setup/py/oxidizer/build

# Mac
.DS_Store

# GDB
.gdb_history

# Git
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

# Env Setup
pw_env_setup/.env_setup.sh
pw_env_setup/.env_setup.bat
.cipd
.cargo

# Web Tools
node_modules
yarn-error.log

nanopb
