# Copyright 2023 The Pigweed Authors
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License. You may obtain a copy of
# the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under
# the License.

menu "pw_system"

config PIGWEED_SYSTEM_LOG_BACKEND
    bool "Enables pw_system.log_backend backend"
config PIGWEED_SYSTEM_TARGET_HOOKS
    bool "Enables the Zephyr pw_system.target_hooks backend"
config PIGWEED_SYSTEM_HDLC_RPC_SERVER
    bool "Enables the Zephyr pw_system.hdlc_rpc_server backend"

if PIGWEED_SYSTEM_TARGET_HOOKS
config PIGWEED_SYSTEM_TARGET_HOOKS_LOG_STACK_SIZE
    int "Log thread stack size"
    default 4096
config PIGWEED_SYSTEM_TARGET_HOOKS_RPC_STACK_SIZE
    int "RPC thread stack size"
    default 4096
config PIGWEED_SYSTEM_TARGET_HOOKS_WORK_QUEUE_STACK_SIZE
    int "Work Queue thread stack size"
    default 4096
endif # PIGWEED_SYSTEM_TARGET_HOOKS

endmenu
