# Copyright 2023 The Pigweed Authors
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License. You may obtain a copy of
# the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under
# the License.

config PIGWEED_LOG_TOKENIZED_LEVEL_BITS
    int "Number of bits required to present the log level"
    default 3
    help
      The total representation size of the metadata is the sum of
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_LEVEL_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_LINE_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_FLAG_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_MODULE_BITS``

config PIGWEED_LOG_TOKENIZED_LINE_BITS
    int "Number of bits required to present the log line number"
    default 11
    help
      The total representation size of the metadata is the sum of
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_LEVEL_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_LINE_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_FLAG_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_MODULE_BITS``

config PIGWEED_LOG_TOKENIZED_FLAG_BITS
    int "Number of bits required for implementation-defined flags"
    default 2
    help
      The total representation size of the metadata is the sum of
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_LEVEL_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_LINE_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_FLAG_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_MODULE_BITS``

config PIGWEED_LOG_TOKENIZED_MODULE_BITS
    int "Number of bits required for logging the PW_LOG_MODULE_NAME"
    default 16
    help
      The total representation size of the metadata is the sum of
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_LEVEL_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_LINE_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_FLAG_BITS``
      - ``CONFIG_PIGWEED_LOG_TOKENIZED_MODULE_BITS``
