// Copyright 2025 The Pigweed Authors
//
// Licensed under the Apache License, Version 2.0 (the "License"); you may not
// use this file except in compliance with the License. You may obtain a copy of
// the License at
//
//     https://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
// License for the specific language governing permissions and limitations under
// the License.

{% if apps.len() > 0 %}
pub fn start() {
    use core::ptr::NonNull;

    use {{ arch_crate_name }} as arch;
    use kernel::NullObjectTable;
    use kernel::macro_exports::foreign_box::ForeignBox;

    type MemoryConfig = arch::MemoryConfig;

{%- for (app_name, app) in apps %}
    let start_fn_{{app_name}} = {{app.start_fn_address | to_hex}}_usize;

    static KERNEL_OBJECT_TABLE_{{app_name | uppercase}}: NullObjectTable = NullObjectTable::new();
    const MEMORY_CONFIG_{{app_name | uppercase }}: MemoryConfig = MemoryConfig::const_new(&[
        kernel::MemoryRegion {
            ty: kernel::MemoryRegionType::ReadOnlyExecutable,
            start: {{app.flash_start_address | to_hex}},
            end: {{app.flash_end_address | to_hex}},
        },
        kernel::MemoryRegion {
            ty: kernel::MemoryRegionType::ReadWriteData,
            start: {{app.ram_start_address | to_hex}},
            end: {{app.ram_end_address | to_hex}},
        },
    ]);

    let process_{{app_name}} = unsafe { kernel::init_non_priv_process!(
        "{{app.process.name}}",
        MEMORY_CONFIG_{{app_name | uppercase}},
        // SAFETY: Object table is static lifetime and will always outlive the
        // foreign box.  Additionally it is never outside of this scope aside from.
        // within the box.
        unsafe { ForeignBox::new(NonNull::from_ref(&KERNEL_OBJECT_TABLE_{{app_name | uppercase}})) },
    )};

{%- for thread in app.process.threads -%}
{% set thread_index = loop.index0 %}
    let thread_{{app_name}}_{{thread_index}} = unsafe {
        kernel::init_non_priv_thread!(
            "{{thread.name}}",
            process_{{app_name}},
            start_fn_{{app_name}},
            {{app.initial_sp | to_hex}},
            {{thread.stack_size_bytes}}
        )
    };
    kernel::start_thread(arch::Arch, thread_{{app_name}}_{{thread_index}});
{%- endfor -%}
{%- endfor -%}
}
{% endif %}
