# This is the list of packages we want installed. When we want to update them
# or install additional packages update this file and run
# `pip-compile requirements.in` and it will update requirements.txt.

# To help manage these files.
pip-tools

# Code quality tools
yapf
mypy
pylint

# For documentation generation.
sphinx
sphinx-rtd-theme

# For the Pigweed test runner.
coloredlogs
