# This is the list of packages we want installed. When we want to update them
# or install additional packages update this file and run
# `pip-compile requirements.in` and it will update requirements.txt.

# To help manage these files.
pip-tools

# Code quality tools.
# TODO(hepler): Create a setup.py for the presubmit and remove these.
yapf
mypy
pylint

# For documentation generation.
# TODO(frolv): Create a setup.py for pw_docgen and remove these.
sphinx
sphinx-rtd-theme
