{#
Copyright 2024 The Pigweed Authors

Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
#}
{% import 'helpers/cmake.jinja' as cmake %}
{{ build.get_license }}

include($ENV{PW_ROOT}/pw_build/pigweed.cmake)

{% for target in build.cc_targets %}
pw_add_module_library({{ cmake.target_name(target, module) }}
  SOURCES
  {% for src in target.sources %}
    {{ build.relative_file(src) }}
  {% endfor %}
  HEADERS
  {% for header in target.headers %}
    {{ build.relative_file(header) }}
  {% endfor %}
  PUBLIC_INCLUDES
    public
)
{% endfor %}

{% for target in build.cc_tests %}
pw_add_test({{ cmake.target_name(target, module) }}
  SOURCES
  {% for src in target.sources %}
    {{ build.relative_file(src) }}
  {% endfor %}
  PRIVATE_DEPS
    {{ module.name.full }}
  GROUPS
    modules
    {{ module.name.full }}
)
{% endfor %}

# CMake does not yet support building docs.
